<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container mx-auto">
    <footer class=" bg-slate-600  p-2 grid lg:grid-cols-4">
      <div class="logo">
        <a href="#" routerLink="/" class="text-2xl text-white px-2 text-start">HodaFood</a>
      </div>
      <div class="cont flex gap-1 px-5 text-white text-md flex-col">
        <a routerLink="home" class=" font-normal hover:text-gray-900 duration-150 ease-in">> Home</a>
        <a href="" class=" font-normal hover:text-gray-900 duration-150 ease-in">> About</a>
        <a href=""class=" font-normal hover:text-gray-900 duration-150 ease-in">> Feedback</a>
        <a routerLink="cart-page"class=" font-normal hover:text-gray-900 duration-150 ease-in">> Cart</a>
        </div>
        <div class="feddback text-center">
          <input type="text" placeholder="Your email"class=" p-1  border-0 ">
          <button type="submit" class="  text-white p-1 border-0 bg-gray-900">Sign Up</button>
          <h2 class=" text-white p-2  text-lg">HoDFood</h2>
          <p class="text-gray-300">Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
        </div>
        <div class="text-gray-300 flex flex-col justify-end p-2 text-end">
          <div class="div">
            &copy;<span>HoDFood
            </span><span>,All Right Reserved.</span>
          </div>
          <div class="">
            <p class="mb-0">Designed By <a>HodaAbdelqader</a></p>
        </div>
      </div>

    </footer>
  </div>
</body>
</html>
